body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--primario);
    padding: 0;
}

h1 {
    letter-spacing: 15px;
    margin: 0;
    padding: 0;
    color: var(--secundario);
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    color: var(--secundario);
}

.btn-menuPrincipal {
    border: 2px solid transparent;
    background-color: var(--primario);
    color: var(--secundario);
    padding: 0;
    margin: 0;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    text-decoration: none;
}

.btn-menuPrincipal::after {
    content: "";
    width: 200px;
    position: absolute;
    height: 40px;
    border: 2px solid var(--secundario);
    border-radius: 30px;
    transition: 0.3s;
}

.btn-menuPrincipal:hover {
    border-color: var(--secundario);
    background-color: var(--secundario);
    color: var(--primario);
}

.btn-menuPrincipal:hover::after {
    height: 50px;
    width: 210px;
    border-color: transparent;
}