body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--primario);
    padding: 0;
}

h1 {
    letter-spacing: 15px;
    margin: 0;
    padding: 0;
    color: var(--secundario);
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    color: var(--secundario);
}